label {
    display: inline-block;
    width: 110px;
    text-align: left;
    margin-right: 10px;
    margin-top: 2px;
}

label.stars {
    display: inline-block;
    width: 50px;
    text-align: left;
    margin-right: 10px;
    margin-top: 2px;
}

label.comment {
    display: inline-block;
    margin-left: 20px;
    margin-right: 10px;
}

textarea.comment {
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
    width: 200px;
    height: 15px;
}

.flash-message {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    color: #333;
}

.nav-button {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    color: #000000;
    text-decoration: none;
    background-color: #c4c4c4;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}
