{% block content %}

{% if adventures %}
    <h2>Recommended Adventures</h2>

    {% for message in get_flashed_messages() %}
        <div id="flash-message" class="flash-message">{{ message }}</div>
    {% endfor %}

    {% for adventure in adventures %}
        <h3>{{ adventure["title"] }}</h3>
        <p>{{ adventure["description"] }}</p>
        {% include "reviews.html" %}
        <form action="/add_to_favorites" method="post">
            <input type="hidden" name="adventure_id" value="{{ adventure["id"] }}">
            <input type="submit" value="Add to favorites">

            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    {% endfor %}
{% else %}
    <p>No adventures found. Check back later for more recommendations!</p>
{% endif %}

<script src="./static/scripts/hideFlashMessage.js"></script>

{% endblock %}