{% extends "layout.html" %}
{% block content %}

<form action="/home" method="post">
    My adventure preferences<br><br>
    <label for="duration">Duration:</label>
    <select id="duration" name="duration" required>
        <option value="Short">Short</option>
        <option value="Medium">Medium</option>
        <option value="Long">Long</option>
    </select><br>

    <label for="budget">Budget:</label>
    <input type="number" id="budget" name="budget" required> euro<br>

    <label for="difficulty">Difficulty level:</label>
    <select id="difficulty" name="difficulty" required>
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Hard">Hard</option>
    </select><br>

    <label for="environment">Environment:</label>
    <select id="environment" name="environment" required>
        <option value="Inside">Inside</option>
        <option value="Outside">Outside</option>
    </select><br>

    <label for="group_size">Group size:</label>
    <select id="group_size" name="group_size" required>
        <option value="Solo">Solo</option>
        <option value="Group">Group</option>
    </select><br>

    <label for="season">Season:</label>
    <select id="season" name="season" required>
        <option value="Summer">Summer</option>
        <option value="Winter">Winter</option>
    </select><br>

    <input type="submit" value="Submit">
</form>

{% if preferences_submitted %}
    {% include "adventures.html" %}
{% endif %}

<a href="/get_favorites">Favorites</a><br>
<a href="/logout">Log out</a>

{% endblock %}