<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/main.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aventura</title>
</head>
<body>
    <h1>Aventura</h1>
    {% if session.user_id %}
    <a href="/home" class="nav-button">Home</a>
    <a href="/get_favorites" class="nav-button">Favorites</a>
    <a href="/logout" class="nav-button">Log out</a><br><br>
    {% else %}
    <a href="/login" class="nav-button">Log in</a>
    <a href="/register" class="nav-button">Register</a>
    {% endif %}
</body>
{% block content %}{% endblock %}