{% extends "layout.html" %}
{% block content %}

<h2>Register</h2>

{% for message in get_flashed_messages() %}
<div id="flash-message" class="flash-message">{{ message }}</div>
{% endfor %}

<form action="/register" method="post">
    Username:<br>
    <input type="text" name="username"></p>
    Password:<br>
    <input type="password" name="password1"></p>
    Password again:<br>
    <input type="password" name="password2"></p>
    <input type="submit" value="Create user">
</form>

<script src="./static/scripts/hideFlashMessage.js"></script>

{% endblock %}